* {
  margin: 0;
  padding: 0;
}

body {
  background: lightgray;
}

.resumeCanvas {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.5in;
  width: 8.5in;
  height: 12in;
  background-color: whitesmoke;
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
}
.parent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  // border: rgb(30, 255, 0) 1px solid;
}

.titleHeader {
  grid-area: 1 / 1 / 2 / 6;
  border: rgb(4, 0, 255) 1px solid;
}
.leftSummary {
  grid-area: 2 / 1 / 6 / 4;
  border: rgb(255, 0, 255) 1px solid;
}
.rightInfo {
  grid-area: 2 / 4 / 6 / 6;
  border: rgb(255, 0, 0) 1px solid;
}
