* {
  margin: 0;
  padding: 0;
}

$border-colour: rgb(45, 0, 129);
$heading-colour: rgb(20, 0, 61);
$red: rgb(228, 3, 3);
$orange: rgb(255, 140, 0);
$yellow: rgb(255, 237, 0);
$green: rgb(0, 128, 38);
$blue: rgb(0, 77, 255);
$purple: rgb(117, 7, 135);

body {
  background: rgb(255, 255, 255);
  a:link,
  a:visited {
    text-decoration: none;
  }
}

.resumeCanvas {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.5in;
  width: 8.5in;
  height: 12in;
  background-color: rgb(250, 255, 255);
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
}
.gridParent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.titleHeader {
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: $border-colour 1px solid;
  h1 {
    font-family: "Poiret One", cursive;
    font-size: 100px;
    padding-left: 20px;
    color: $heading-colour;
  }
  h3 {
    font-family: "Quicksand", sans-serif;
    text-align: right;
    padding-right: 60px;
  }
  .name1:hover,
  .name8:hover {
    color: $red;
  }
  .name2:hover,
  .name9:hover {
    color: $orange;
  }
  .name3:hover,
  .name10:hover {
    color: $yellow;
  }
  .name4:hover,
  .name11:hover {
    color: $green;
  }
  .name5:hover,
  .name12:hover {
    color: $blue;
  }
  .name6:hover,
  .name13:hover {
    color: $purple;
  }
}
.leftSummary {
  grid-area: 2 / 1 / 6 / 4;
  border-right: $border-colour 1px solid;
  font-family: "Quicksand", sans-serif;
  h1 {
    font-family: "Poiret One", cursive;
    font-size: 30px;
    color: $heading-colour;
  }
  h4 {
    text-decoration: underline;
  }
  p {
    font-size: 16px;
    margin: 5px;
  }
  .bioIntro {
    p {
      text-align: center;
    }
  }
}
.rightInfo {
  grid-area: 2 / 4 / 6 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  h1 {
    font-family: "Poiret One", cursive;
    font-size: 30px;
    color: $heading-colour;
  }
  p {
    margin: 10px;
  }
  li {
    list-style-type: circle;
    list-style-position: inside;
    margin: 10px;
  }
  a:link,
  a:visited {
    color: black;
  }
  a:hover {
    color: rgb(99, 148, 238);
  }
}
